<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>{{ title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Give this app a JIRA URL and an issue number, and it will create a gallery with the issue attachments.">
<meta name="author" content="TupiLabs">
<!-- Le styles -->
<link href="{{ siteUrl('css/bootstrap.css', false) }}" rel="stylesheet" />
<style>
body {
    padding-top: 20px;
    padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}

.container-narrow>hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}

.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}

.marketing p+h4 {
    margin-top: 28px;
}
.error-message {
display: block;
}
</style>
<link
    href="{{ siteUrl('css/bootstrap-responsive.css', false) }}"
    rel="stylesheet" />
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Fav and touch icons -->
<link rel="shortcut icon"  href="{{ siteUrl('ico/favicon.ico', false) }}">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ siteUrl('ico/apple-touch-icon-144-precomposed.png', false) }}"/>
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ siteUrl('ico/apple-touch-icon-114-precomposed.png', false) }}"/>
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ siteUrl('ico/apple-touch-icon-72-precomposed.png', false) }}"/>
<link rel="apple-touch-icon-precomposed" href="{{ siteUrl('ico/apple-touch-icon-57-precomposed.png', false) }}"/>
</head>
<body>
	<div class='container-fluid'>
    	<div class="masthead">
            <ul class="nav nav-pills pull-right">
                <li><a href="http://tupilabs.com"><img src="{{ siteUrl('img/tupilabs_mascot.png', false) }}" width="40px" /></a></li>
            </ul>
            <h3 class="muted">JIRA Attachments Gallery</h3>
        </div>
		<hr>
        <div class='row-fluid'>
        	<div id='grid' class='span12'>
            	<p class='muted'>Attachments gallery for <a href='{{ jiraUrl }}/browse/{{ issueNumber }}'>{{ issueNumber }}</a></p>
                {% set i = 0 %}
                {% for img in imgs %}
                	{% if img.name is defined and img.name is not empty %}
					<div class='span3'>
                    	<img class='img-polaroid' src="{{ jiraUrl ~ '/secure/attachment/' ~ img.id ~ '/' ~ img.name }}" alt="" />
                        <br/>
                        {{ img.name }} &mdash; {{ img.id }}
                    </div>
                    	{% if i == 2 %}
                    <hr class='span12' />
                    	{% set i = 0 %}
                        {% else %}
                        	{% set i = i + 1 %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                
            </div>
        </div>
        <div class="footer">
            <p>&copy; <a href='http://tupilabs.com'>TupiLabs</a></p>
        </div>
    </div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ siteUrl('js/jquery.js', false) }}"></script>
    <script src="{{ siteUrl('js/bootstrap.min.js', false) }}"></script>
    <script src="{{ siteUrl('js/bootstrap-transition.js', false) }}"></script>
    <script src="{{ siteUrl('js/bootstrap-alert.js', false) }}"></script>
    <script src="{{ siteUrl('js/bootstrap-modal.js', false) }}"></script>
    <script src="{{ siteUrl('js/bootstrap-dropdown.js', false) }}"></script>
    <script src="{{ siteUrl('js/bootstrap-scrollspy.js', false) }}"></script>
    <script src="{{ siteUrl('js/bootstrap-tab.js', false) }}"></script>
    <script src="{{ siteUrl('js/bootstrap-tooltip.js', false) }}"></script>
    <script src="{{ siteUrl('js/bootstrap-popover.js', false) }}"></script>
    <script src="{{ siteUrl('js/bootstrap-button.js', false) }}"></script>
    <script src="{{ siteUrl('js/bootstrap-collapse.js', false) }}"></script>
    <script src="{{ siteUrl('js/bootstrap-carousel.js', false) }}"></script>
    <script src="{{ siteUrl('js/bootstrap-typeahead.js', false) }}"></script>
</body>
</html>